body{
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    height: 100vh;
    margin: 0;
}

#titlePage{
    margin-top: 0;
    margin-bottom: 10vh;
    padding-top: 5vh;
    font-size: 5vh;
    text-transform: uppercase;
    text-align: center;
}

#input {
    background-color: #777;
    max-width: 60vh;
    padding-left: 10vh;
    padding-top: 15vh;
    position: absolute;
    left: 0px;
    height: 50vh;
}

#buttons{
    position: absolute;
    left: 2vh;
    top: 25vh;
    z-index: 2;
    cursor: pointer;
    padding: 3px;
    border: 2px solid transparent;
}

#buttons:hover {
    border: 2px solid #033dff;
}

#menuButton{
    background-image: url(Image/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    width:  40px;
    height: 40px;
}

#closeButton{
    background-image: url(Image/X.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:  30px;
    height: 30px;
}

.containerInput {
    margin-bottom: 3vh;
}

#containerTabella {
    padding: 1vh;
    border: 0px solid #000; /* viene aggiunto lo spessore in js*/
}

#content {
    display: flex;
    justify-content: space-evenly;
}

/* Stile table */
#table {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 0px solid #033dff; /* viene aggiunto lo spessore in js*/
    padding: 1vh;
    font-size: 20px;
}

#table td{
    padding: 8px 10px;
}

/* Stile Lista Parole */
#list{
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    column-count: 2;
    column-gap: 4vh;
}
