body{
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    height: 100vh;
    margin: 0;
}

#titlePage{
    margin-top: 0;
    margin-bottom: 10vh;
    padding-top: 5vh;
    font-size: 5vh;
    text-transform: uppercase;
    text-align: center;
}

#input {
    border: 2px solid red;
    max-width: 60vh;
    padding: 10vh;
}

.containerInput {
    margin-bottom: 3vh;
}

#content {
    display: flex;
    justify-content: space-evenly;
}

/* Stile table */
#table {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 0px solid black; /* viene aggiunto lo spessore in js*/
    padding: 1vh;
}

#table td{
    padding: 6px 8px;
}

/* Stile Lista Parole */
#list{
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    column-count: 2;
    column-gap: 4vh;
}